
td {
    margin: 0;
    padding: 0
}

.bomber_map {
    border-collapse: collapse;
    border-spacing: 0;
    box-sizing: border-box;
    background-image: url(img/Background.png);
    width: 704px;
    margin: auto;
    z-index: 5;
}

tr.map_line .map_cell {

  width: 64px;
  height: 64px;
  text-align: center;
}

.map_limit {
  width: 64px;
  height: 64px;
  text-align: center;
  background-image: url(img/greyblock.png);
        z-index: 5;
}

.map_cell_solid{
    background-image: url(img/solidBlock.png)
}
#table{
    position: relative;
}
#player1{
    position: relative;
}

.bomberman{
    position: relative;
    z-index: 10;
}

