*{
	margin: 0px;
	padding: 0px;
}
#map{
	width: 700px;
	height: 700px;
	position: relative;
}
.wall{
	position: absolute;
	background: no-repeat;
	background-size: cover;
	width: 64px;
	height: 64px;
}
.floor{
	position: absolute;
	background: no-repeat;
	background-size: cover;
	width: 64px;
	height: 64px;
}
.bloc{
	position: absolute;
	background: no-repeat;
	background-size: cover;
	width: 64px;
	height: 64px;
}
.solid{
	position: absolute;
	background: no-repeat;
	background-size: cover;
	width: 64px;
	height: 64px;
}
#player{
	background-image: url(img/bomberman.png);
	width: 64px;
	height: 64px;
	position: absolute;
	top: 64px;
	left: 64px;
	z-index: 5;
}
#bomb{
	background-image: url(img/bomberman.png);
	width: 64px;
	height: 64px;
	position: absolute;
	z-index: 3;

}
.explode{
position: absolute;
background: url(img/explosion.png);
width: 64px;
height: 64px;
left: 0px;
top: 0px; 
}
